/* Estilos para o cabeçalho */
.bg-lilas-nubank {
    background-color: #8A2BE2; /* Cor lilás Nubank */
}

.header-logo {
    height: 40px; /* Ajuste a altura da logo conforme necessário */
}

.footer-logo {
    height: 40px; /* Ajuste a altura da logo no rodapé conforme necessário */
}

footer {
    background-color: #000; /* Fundo preto para o rodapé */
    color: #fff; /* Texto branco para o rodapé */
}

/* Estilos para os títulos dos carrosséis */
.carousel-title {
    font-family: 'Montserrat', sans-serif; /* Fonte moderna */
    font-size: 2.5rem; /* Tamanho grande para destaque */
    color: #333; /* Cor escura para contraste */
    text-align: center; /* Centralizar o texto */
    margin-bottom: 30px; /* Espaçamento abaixo do título */
    position: relative; /* Para efeitos de sublinhado */
}

.carousel-title::after {
    content: ''; /* Adiciona um efeito visual */
    display: block;
    width: 80px; /* Largura do sublinhado */
    height: 4px; /* Altura do sublinhado */
    background-color: #8A2BE2; /* Cor lilás Nubank */
    position: absolute;
    left: 50%;
    bottom: -10px; /* Posiciona o sublinhado abaixo do título */
    transform: translateX(-50%); /* Centraliza o sublinhado */
    border-radius: 2px; /* Bordas arredondadas */
}

/* Estilo para o carrossel */
.carousel-item img {
    max-height: 400px; /* Ajuste a altura das imagens do carrossel conforme necessário */
    object-fit: cover; /* Garante que a imagem preencha o contêiner do carrossel */
}
